$font-stack: "Orbitron", sans-serif;
$primary-color: #fdb933;
$primary-hover-color: #FEB117;
$secondary-color: #FFCA60;
$text-color: #FEB117;
$saber-color: #d60f0d;
$text-color-gray: #393e46;
$text-color-light: #D0D4D9;
$background-color: #222831;
$background-color-dark: #010101;
$background-color-light: #393e46;
$border-radius: 4px;
$line-height: 1.7;
$font-size: 62.5%;
